fastapi
uvicorn
gunicorn
python-multipart
supabase
gotrue
httpx
requests
beautifulsoup4
openai
groq
pypdf
PyPDF2
fpdf
# Database & Environment
supabase
python-dotenv
httpcore

# Optional but Recommended for Resume Parsing
python-docx




